# Ignore all numpy matrix files
*.npy

# Ignore microdata folder (ensure path matches error message)
Functional consistency/microdata/

# Ignore neuron experiment result folder
Structural similarity/neuron_count_experiment_results/

# Ignore visual task data/feature folders
visual_task/video_data/
visual_task/microdata/